
section{
height: 600px;
padding-bottom: 200px;

}


body p {font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;

}



.widht-of-top-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%; 
font-size: 30px;


}
.widht-of-top-section p{font-size: 20px;}
    .widht-of-top-section img{ 

        width: 70%;
        padding-right: 0%;
        float: right;
    }
 

.border-color{border-left: 4px solid #FF5959;}


.link-button{
    text-decoration: none;
    color: white;
    font-weight: white;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
font-size: 16px;
}



.mission-2022-heading{
    text-align: center;
}

.my-mission-2022{
    text-align: center;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.my-mission-2022 span{
    color: #FFAD5A;
}


.Mission{ 
    background-color:#EDF5F6;
    

}

.Mission img{width: 200px;

}

.Future{

    background-color: #FFEEEE;
}
.Future img{width: 200px;
    
}

.Passion{

    background-color: #FFF4D6;
}

.Passion img{
    width: 200px;
}

.My-mission-section{
    display: flex;
}
.My-mission-section div {
    height: 80%;
    border-radius: 15px;

padding-left: 10px;
margin-left: 50px;



}
.border-line{border: 3px solid;
}


.widht-of-develop-without-limit-section{ width: 40%;
    float: right;
    margin-right: 5%;
    padding-right: 2%; 
font-size: 30px;

}
.widht-of-develop-without-limit-section img{
    width: 60%;
    padding-right: 0%;
    float: left;
}
.widht-of-develop-without-limit-section p{font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.widht-of-top-section p{font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


#develop{
    font-size: 60px;
}





